

LLM_BASE_URL="your base url"
LLM_API_KEY="dummy-api-key"
LLM_MODEL_NAME="qwen3:8b"

LANGSMITH_API_KEY="your api key"
LANGSMITH_TRACING=true
LANGSMITH_PROJECT="AUTOMATION-TESTING"


AUTO_REPLY_ENABLED=true
AUTO_REPLY_DRY_RUN=false    #turn this to true while testing the functionality and turn this to false when u want the llm to send emails automatically.
AUTO_REPLY_POLL_SECONDS=60
AUTO_REPLY_MAX_PER_HOUR=10
AUTO_REPLY_BODY=Thank you for your email. I have received your message and will connect with you shortly.

SENDER_NAME=Yash Sheth